<template>
  <v-app class="grand-container">
    <v-navigation-drawer app v-model="drawer" enable-resize-watcher>
      <v-list dense class="pt-0">
        <v-list-tile v-for="item in items" :key="item.title" @click="selectNav(item.route)">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>

    <v-toolbar app>
      <v-toolbar-side-icon @click="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>STRS Taxi Booking</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn id="toRegister" v-if="!isAuthenticated" flat @click="toRegister">Register</v-btn>
        <v-btn id="toLogin" v-if="!isAuthenticated" flat @click="toLogin">Log in</v-btn>
        <v-btn id="toLogout" v-if="isAuthenticated" flat @click="logout">Log out</v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <v-content>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-content>
    <v-footer></v-footer>
  </v-app>
</template>

<script>
import auth from "js/authentication.js";

const getNavBarItems = () => {
  const navBarItems = [{ title: "Home", icon: "dashboard", route: "/" }];

  if (auth.getRole() === "customer") {
    const customerItems = [
      { title: "Bookings", icon: "forward", route: "booking" },
      { title: "History", icon: "format_list_bulleted", route: "history" }
    ];

    navBarItems.push(...customerItems);
  }

  if (auth.getRole() === "taxi-driver") {
    navBarItems.push({
      title: "Transporting",
      icon: "local_taxi",
      route: "transporter"
    });
  }

  return navBarItems;
};

export default {
  data: () => ({
    isAuthenticated: auth.isAuthenticated(),
    drawer: false,
    items: getNavBarItems()
  }),
  created() {
    auth.onAuthChanged(isAuthenticated => {
      this.isAuthenticated = isAuthenticated;

      this.items = getNavBarItems();
    });
  },
  methods: {
    toRegister() {
      this.$router.push("register");
    },
    toLogin() {
      this.$router.push("login");
    },
    logout() {
      console.log("Logging out");
      auth.logout(this, {});
    },
    selectNav(selectedRoute) {
      this.$router.push(selectedRoute);
    }
  }
};
</script>
