<template>
  <div class="booking">
    <v-form v-if="status === 'open'" v-model="valid" class="form">
      <v-text-field id="pickup" v-model="pickupAddress" label="Pickup address" required></v-text-field>
      <v-text-field id="dropoff" v-model="dropoffAddress" label="Dropoff address" required></v-text-field>
      <v-btn id="submitbooking" large color="primary" class="right-button" @click="submit">Submit</v-btn>
    </v-form>

    <div v-else-if="status === 'processing'" class="booking">
      <BookingMessage v-bind:message="message"/>
      <v-progress-circular indeterminate color="primary"></v-progress-circular>
    </div>

    <div v-else-if="status === 'completed'" class="booking">
      <BookingMessage v-bind:message="message"/>
      <v-btn large color="primary" @click="newBooking">New booking</v-btn>

      <BookingFeedback v-if="showFeedback" v-bind="{submitRating}"/>
    </div>

    <div v-else class="booking">
      <BookingMessage v-bind:message="message"/>
    </div>
  </div>
</template>

<script>
import http from "js/requests";
import auth from "js/authentication";

import BookingMessage from "./booking-message.vue";
import BookingFeedback from "./booking-feedback.vue";

const getDefaultData = () => ({
  status: "open",
  message: null,
  pickupAddress: "Liivi 2",
  dropoffAddress: "",
  bookingId: null,
  showFeedback: true,
  rating: 4.5
});

export default {
  data: getDefaultData,
  components: {
    BookingMessage,
    BookingFeedback
  },
  mounted() {
    const channel = auth.getChannel("customer:");
    channel
      .join()
      .receive("ok", resp => {
        console.log("Joined successfully", resp);
      })
      .receive("error", resp => {
        console.log("Unable to join", resp);
      });

    channel.on("requests", payload => {
      console.log(payload);
      this.message = payload.msg;
      this.status = payload.status;

      if (payload.booking_id) {
        this.bookingId = payload.booking_id;
      }
    });
  },
  methods: {
    submit() {
      console.log("Submitting booking");

      const booking = {
        pickup_address: this.pickupAddress,
        dropoff_address: this.dropoffAddress
      };

      http
        .put("/api/bookings", booking)
        .then(response => {
          this.status = response.data.status;
          this.message = response.data.msg;
        })
        .catch(error => {
          console.error(error);

          this.status = error.response.data.status;
          this.message = error.response.data.msg;
        });
    },
    newBooking() {
      Object.assign(this.$data, getDefaultData());
    },
    submitRating(rating) {
      if (rating) {
        http.patch(`/api/bookings/${this.bookingId}/rating`, {
          rating: this.rating
        });
      }

      this.showFeedback = false;
    }
  }
};
</script>
