<template>
  <v-data-table
    :headers="headers"
    :items="trips"
    class="elevation-1"
    hide-actions
    :loading="loading"
  >
    <template slot="items" slot-scope="props">
      <td>{{ props.item.bookingTime.toLocaleString() }}</td>
      <td class="text-xs-right">{{ props.item.origin }}</td>
      <td class="text-xs-right">{{ props.item.destination }}</td>
      <td class="text-xs-right">{{ statuses[props.item.status] }}</td>
      <td
        class="text-xs-right"
      >{{ props.item.tripStart ? props.item.tripStart.toLocaleString() : "" }}</td>
      <td class="text-xs-right">{{ props.item.tripEnd ? props.item.tripEnd.toLocaleString() : ""}}</td>
    </template>
  </v-data-table>
</template>
<script>
import http from "js/requests";

export default {
  data: () => ({
    loading: false,
    headers: [
      { text: "Booking time", align: "left", value: "bookingTime" },
      { text: "Origin", align: "right", value: "origin" },
      { text: "Destination", align: "right", value: "destination" },
      { text: "Status", align: "right", value: "status" },
      { text: "Trip start", align: "right", value: "tripStart" },
      { text: "Trip end", align: "right", value: "tripEnd" }
    ],
    statuses: {
      rejected: "Rejected",
      completed: "Completed",
      accepted: "Accepted"
    },
    trips: []
  }),
  mounted() {
    this.loading = true;

    http
      .get("/api/bookings/history")
      .then(response => {

        this.trips = response.data.history.map(booking => {
          return {
            value: false,
            bookingTime: new Date(booking.created),
            origin: booking.pickup_address,
            destination: booking.dropoff_address,
            status: booking.status,
            tripStart: booking.transport_start,
            tripEnd: booking.transport_end
          };
        });

        this.loading = false;
      })
      .catch(error => {
        console.error(error);
      });
  }
};
</script>
