<template>
  <v-card class="elevation-16 mx-auto mt-3" width="300">
    <v-card-title class="headline" primary-title>Rate your trip</v-card-title>
    <v-card-text>Please take a moment to rate your satisfaction with your driver and trip overall
      <div class="text-xs-center mt-5">
        <v-rating
          v-model="rating"
          color="primary"
          background-color="grey darken-1"
          empty-icon="$vuetify.icons.ratingFull"
          half-increments
          hover
        ></v-rating>
      </div>
    </v-card-text>
    <v-divider></v-divider>
    <v-card-actions class="justify-space-between">
      <v-btn color="primary" flat @click="submitRating(rating)">Rate Now</v-btn>
      <v-btn flat @click="submitRating(null)">No Thanks</v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
export default {
  data: () => ({
    rating: 4.5
  }),
  props: {
    submitRating: Function
  }
};
</script>
