<template>
  <div>
    <v-form v-model="valid" class="form">
      <v-text-field id="username" v-model="email" :rules="emailRules" label="Email" required></v-text-field>
      <v-text-field 
        id="password"
        v-model="password"
        :rules="passwordRules"
        label="Password"
        :type="'password'"
        required
      ></v-text-field>
      <v-btn id="login" large color="primary" class="right-button" @click="logUserIn">Log in</v-btn>
    </v-form>

    <v-snackbar v-model="snackbar" :timeout="timeout" top>
      {{ text }}
      <v-btn color="pink" flat @click="snackbar = false">Close</v-btn>
    </v-snackbar>
  </div>
</template>
<script>
import auth from "js/authentication";

export default {
  data: function() {
    return {
      valid: false,
      email: "",
      emailRules: [
        v => !!v || "Email is required",
        v => /.+@.+/.test(v) || "Email must be valid"
      ],
      password: "",
      passwordRules: [v => !!v || "Password is required"],
      snackbar: false,
      timeout: 6000,
      text: ""
    };
  },
  methods: {
    logUserIn() {
      if (!this.valid) {
        console.error("Form data is not valid!");
        return;
      }

      const user = {
        email: this.email,
        password: this.password
      };

      auth.login(this, user, "booking").catch(error => {
        this.snackbar = true;
        this.text = error.error;
      });
    }
  }
};
</script>
