<template>
  <v-form v-model="valid" class="form">
    <v-text-field id="name" v-model="name" :rules="nameRules" :counter="20" label="Name" required></v-text-field>
    <v-text-field id="email" v-model="email" :rules="emailRules" label="Email" required></v-text-field>
    <v-text-field
      id="password"
      v-model="password"
      :rules="passwordRules"
      label="Password"
      :type="'password'"
      required
    ></v-text-field>
    <v-select id="role" v-model="role" :items="roleItems" label="Role"></v-select>
    <v-text-field
      id="taxilocation"
      v-if="role === 'taxi-driver'"
      v-model="taxiLocation"
      :rules="locationRules"
      label="Taxi location"
      required
    ></v-text-field>
    <v-btn id="register" large color="primary" class="right-button" @click="register">Register</v-btn>
  </v-form>
</template>

<script>
import http from "js/requests";

export default {
  data: () => ({
    valid: false,
    name: "",
    nameRules: [v => !!v || "Name is required"],
    email: "",
    emailRules: [
      v => !!v || "Email is required",
      v => /.+@.+/.test(v) || "E-mail must be valid"
    ],
    password: "",
    passwordRules: [v => !!v || "Password is required"],
    role: "",
    roleItems: [
      { text: "Customer", value: "customer" },
      { text: "Driver", value: "taxi-driver" }
    ],
    taxiLocation: "",
    locationRules: [v => !!v || "Location is required"]
  }),
  methods: {
    register() {
      if (!this.valid) {
        console.error("Form data is not valid!");
        return;
      }

      console.log("Registering");
      const user = {
        name: this.name,
        email: this.email,
        password: this.password,
        role: this.role,
        taxi_location: this.taxiLocation
      };

      http
        .put("/api/users", { user: user })
        .then(response => {
          this.$router.push("login"); // TODO: Do autologin instead, if possible, redirect to dashboard main page afterwards
        })
        .catch(error => console.error("oopsie woopsie ", error)); // TODO: Show errors to user
    }
  }
};
</script>
