<template>
  <v-dialog v-model="dialog" persistent max-width="400">
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>New booking request</v-card-title>
      <v-card-text>
        <span class="body-2">Pick-up address:</span>
        {{ pickupAddress }}
        <br>
        <span class="body-2">Drop-off address:</span>
        {{ dropoffAddress }}
      </v-card-text>
      <v-card-actions class="justify-space-between">
        <v-btn color="success" @click="submitDecision({status: 'accepted'})">Accept</v-btn>
        <v-btn color="error" @click="submitDecision({status: 'rejected'})">Reject</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>u
<script>
export default {
  props: {
    dialog: Boolean,
    pickupAddress: String,
    dropoffAddress: String,
    submitDecision: Function
  }
};
</script>
