<template>
  <v-stepper :value="step">
    <v-stepper-header>
      <v-stepper-step :complete="step > 1" step="1">Pick-up</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step :complete="step > 2" step="2">Start the trip</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step step="3">Complete the trip</v-stepper-step>
    </v-stepper-header>

    <v-stepper-items>
      <v-stepper-content step="1">
        <p
          class="subheading grey--text my-2"
        >You've accepted the ride, great! Now make your way to the pick-up address ({{ pickupAddress }})!</p>

        <v-btn color="primary" @click="notifyOfArrival">I'm there</v-btn>
        <v-btn flat>Cancel</v-btn>
      </v-stepper-content>

      <v-stepper-content step="2">
        <p class="subheading grey--text my-2">Just relax until the passenger makes their way onboard</p>

        <v-btn color="primary" @click="startTrip">Let's move</v-btn>
        <v-btn flat>Cancel</v-btn>
      </v-stepper-content>

      <v-stepper-content step="3">
        <p
          class="subheading grey--text my-2"
        >Now make your way to the destination, which was {{ dropoffAddress }}</p>

        <v-btn color="primary" @click="endTrip">We're there</v-btn>
        <v-btn flat>Cancel</v-btn>
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
</template>
<script>
export default {
  props: {
    step: Number,
    pickupAddress: String,
    dropoffAddress: String,
    notifyOfArrival: Function,
    startTrip: Function,
    endTrip: Function
  }
};
</script>
