<template>
  <div>
    <TransporterDecision v-bind="{dialog, pickupAddress, dropoffAddress, submitDecision}"/>

    <TransporterStepper
      v-if="accepted"
      v-bind="{step, pickupAddress, dropoffAddress, notifyOfArrival, startTrip, endTrip}"
    />

    <p v-else class="display-1 text-xs-center grey--text mt-5">Welcome!
      <br>Waiting for booking requests...
    </p>
  </div>
</template>
<script>
import http from "js/requests";
import auth from "js/authentication";

import TransporterDecision from "./transporter-decision.vue";
import TransporterStepper from "./transporter-stepper.vue";

export default {
  data: () => ({
    dialog: false,
    accepted: false,
    step: 0,
    bookingId: null,
    pickupAddress: "",
    dropoffAddress: ""
  }),
  mounted() {
    if (!auth.socket) {
      return;
    }

    const channel = auth.getChannel("driver:");
    channel
      .join()
      .receive("ok", resp => {
        console.log("Joined successfully", resp);
      })
      .receive("error", resp => {
        console.log("Unable to join", resp);
      });

    channel.on("requests", payload => {
      console.log(payload);

      this.bookingId = payload.id;
      this.pickupAddress = payload.pickup_address;
      this.dropoffAddress = payload.dropoff_address;

      this.dialog = true;
    });
  },
  methods: {
    submitDecision(decision) {
      const data = {
        status: decision.status
      };

      http
        .patch(`/api/bookings/${this.bookingId}`, data)
        .then(response => {
          console.log("Received:", response);

          if (decision.status === "accepted") {
            this.accepted = true;
          }
        })
        .catch(e => console.log("Oops", e));

      this.dialog = false;
    },
    notifyOfArrival() {
      http
        .get(`/api/bookings/ready/${this.bookingId}`)
        .then(response => {
          console.log(response);
        })
        .catch(e => console.error(e));

      this.step = 2;
    },
    startTrip() {
      http
        .patch(`/api/bookings/start/${this.bookingId}`)
        .then(response => {
          console.log(response);
        })
        .catch(e => console.error(e));

      this.step = 3;
    },
    endTrip() {
      http
        .patch(`/api/bookings/end/${this.bookingId}`)
        .then(response => {
          console.log(response);
        })
        .catch(e => console.error(e));

      this.accepted = false;
      this.step = 0;
    }
  },
  components: {
    TransporterDecision,
    TransporterStepper
  }
};
</script>

