/* This file is for your main application css. */

.grand-container {
    display: flex;
    flex-direction: column;
}

.form {
    width: 60%;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.right-button {
    align-self: flex-end;
}

.booking {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking-status {
    max-width: 500px;
    min-width: 200px;
}
